ion-header {
  img {
    width: 150px;
    padding: 5px;
  }
}

ion-content {
  --background: rgb(239, 239, 239);

  .contenedor {
    display: flex;
    flex-direction: column;

    .buscador {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;

      ion-item {
        width: 90%;
        border: 1px solid #03757f;
        --background: #03757f2f;
        border-radius: 25px;

      }
    }

    
    
   
  }
}