<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="../../../assets/recetivaColor.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="buscador">
      <ion-item>
        <ion-icon name="search"></ion-icon>
        <ion-input type="text" [(ngModel)]="searchText" name="searchText"></ion-input>
      </ion-item>
    </div>

    <div class="categorias-scroll">
      <ion-chip 
      *ngFor="let categoria of categorias"
      (click)="toggleCategory(categoria)"
      [class.selected]="ChipselectedCategories.includes(categoria)"
      class="custom-chip"
      >
        <ion-label class="montserrat">{{ categoria }}</ion-label>
      </ion-chip>
    </div>
      
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let receta of recetas">
          <ion-card>
            <img [src]="receta.img" alt="receta" />
            <ion-card-content>
              <h3>{{ receta.title }}</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
